*.pdf
*.mid
*.midi
*.doc
*.odt
*.eps
*.ps

*.*~
*~
*.bak

*.aux
*.log
*.out
*.toc

*.tif

# exclude the whole deploy dir
deploy/*
# and the font dir
otf/*
/lilyglyphs.bbl
/lilyglyphs.blg
/lilyglyphs.dvi
