*.pdf
*.mid
*.midi
*.doc
*.odt
*.eps
*.ps

*.*~
*~
*.bak

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi

*.tif
*.png
*.jpg


# exclude the whole deploy dir
deploy/*
# and the font dir
otf/*
# exclude generated LaTeX file for new image-glyphs
/glyphimages/stash/01_newImageGlyphs.tex
