*.pdf
*.mid
*.midi
*.doc
*.odt
*.eps
*.ps

*.*~
*~
*.bak

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi

*.pyc

*.tif
*.png
*.jpg

# TexStudio helper files
*.synctex.gz

# exclude the whole deploy dir
deploy/*
# and the font dir
otf/*
# exclude generated LaTeX files for new commands
/stash_new_commands/emmentaler/newGlyphCommands.tex
/stash_new_commands/images/newImageGlyphs.tex
/stash_new_commands/newCommands.tex
